<h1>Add a New Project</h1>

<form action="/home" method="post">
  <div class="form-group">
    <label for="title">Project Title:</label>
    <input id="n" name="title" class="form-control" type="text">


  </div>
  <button type="submit" class="btn btn-primary">Add the project</button>
</form>
