<h4>Volunteer Name: <%= @volunteer.name %></h4>
<h4>Volunteer ID: <%= @volunteer.id %></h4>





<p><a href="/home/volunteers/<%= @volunteer.id %>/edit">Edit/Delete Volunteer</a></p>

<a href="/home">Return to Home</a>
